.body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}


.day {
    background-color: blue;
}

.unit {
    background-color: #4FC6E1;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    height: 5em;
    width: 5em;
    
}