/* ********************************************************************* */
/* ***************************** Container **************************** */
/* ******************************************************************* */
  
.column {
  /*background-color: aqua;
  border: 1px black solid;*/
  padding: 2em;
  margin: 1em;
}

.row {
  background-color: transparent;
  border: none;
}  


/* ********************************************************************* */
/* ************************ Landscape timetable *********************** */
/* ******************************************************************* */
.ttable {
  width: 100%;
  table-layout: fixed ;
  border-spacing: 0;
  padding: 1em;
}

.ttable .tt_day_row {
  height: 6em;
}

.ttable .session-none { 
  background-color: blue;
}

/* ******************* Column names - times ******************* */
.ttable .tt_header_row td {
  background-color: transparent;
  
  /* Add short borders */
  border: 1px gray solid;
  border-width: 3px;
  border-left-style: solid;
  border-right-style: none;
  border-image: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0)) 1 50% 100%;
  
}

.ttable .tt_header_row .tt_headers_no_tick {
  border-style: none;
}

.ttable #tt_headers_end {
  border-right-style: solid;
}

.ttable .tt_header_row td div {
  text-align: center;
  position: relative;
  width: 100%;
  left: 50%;
}


/* ****************** Row names - days ****************** */

.ttable .tt-days div{
  float:right;
  margin-right: 1em;
}

/* ********************************************************************* */
/* ************************* Portrait timetable *********************** */
/* ******************************************************************* */