.page-body {
      margin: 2em;
}

.ui.inverted.menu {
      border-radius: 0;
}

#welcome_message {
      padding-top: 5em;
      text-align: center;
}

#send_feedback {
      margin-top: 3em;
}

.colour-show{
      height: 1em;
      width: 1em;
}

.tt_col {
      width: 85%;
      align-self: center;
      
}

.key_col {
      margin-left: 3em;
      width:15%;
      align-self: center;
      
}

.tt_key_container {
      display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px){
      .tt_key_container {
            display: flex;
            flex-wrap: wrap;
            
      }

      .tt_col {
            width: 100%;
            align-self: flex-start;

            
      }

      .key_col {
            padding-top: 3em;
            margin-left:auto;
  margin-right:auto;
          
            align-self: flex-start;
            float:center;
            
      }
}