.colour-show{
      height: 1em;
      width: 1em;
}

.colour-show-large{
      height: 2em;
      width: 2em;
      background-color: aqua;
}

.editing-menu {
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left:1em;
      padding-right: 1em; 
      width:30%;
      overflow-y: scroll;
      background-color: #1d1d1d;
      color:#dadfea; 
}

.editing-menu .icon {
      color: #979ba3;
}

.main {
      width:70%;
}

body {
      /*background-color: blueviolet;*/
}

.info-feed {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-right: 2em;
      width: 40%;
      margin-left: 1em;
      margin-bottom: 1em;
}

#edit-buttons {
      padding-top: 1.5em;
      float: right;
}

#edit-buttons i {
      color: white;
}

/* Computer Only */
@media screen and (min-width: 992px){
      .main {
            padding-left: 2em;
      }
}

/* Tablet Only */
@media screen and (max-width: 991px) and (min-width: 768px){
      body{
            /*background-color: aqua;*/
      }

      /* hide the computer only grid */
      .tablet.computer.only.row {
            display: none;
      }

      /* show the mobile only grid */
      #mobile_row {
            display: flex !important;
      }

      #mobile_row .column {
            width: 100%;
      }

      /* column width */
      .main {
            width: 50%;
      }

      .editing-menu {
            width: 50%;
            padding-left: 1em;
            
      }

      .info-feed {
            width: 50%;
      }

}

/* Mobile Only */
@media screen and (max-width: 767px){
      body{
            /*background-color:green;*/
      }

      .editing-menu {
            position: static;
            width: 100%;
            height: auto;
            padding-left: 1em;
             
            overflow-y: hidden;
      }

      .main {
            width: 100%;
            margin-top: 1em;
      }
      
      .info-feed {
            width: 100%;
      }
      
}