/* possible colour schemes 
https://coolors.co/363537-0cce6b-dced31-ef2d56-ed7d3a
https://coolors.co/e4572e-17bebb-ffc914-2e282a-76b041
*/


/* ********************************************************************* */
/* ***************************** Container **************************** */
/* ******************************************************************* */
  
.column {
  /*background-color: aqua;
  border: 1px black solid;*/
  padding: 2em;
  margin: 1em;
  width: 100%;
}

.row {
  background-color: transparent;
  border: none;
  width: 100%;
  
}  


.tt_title {
  padding-top: 0.5em;
  margin-left: 1em;
  text-align: left;
  width: 100%; 
}

#computer_row {
  padding-top: 0;
}

/* Ghetto vertical center align */
.empty_tt {
  height: 100%;
}

.empty_tt_center{
  position: relative;
  top: 30%;
  text-align: center;
}


/* ********************************************************************* */
/* ************************ Landscape timetable *********************** */
/* ******************************************************************* */

.ttable {
  width: 100%;
  table-layout: fixed ;
  border-spacing: 0;
  padding: 1em;
}

/* **** Optional style **** */
/* Row height */
.ttable .tt_day_row {
  height: 6em;
}

/* Border between days */
.ttable .tt_day_row td {
  border-top-style: solid;
  border-width: 3px;
  border-color: black;
}


.ttable #tt_end_row td{
  border-bottom-style: solid; 
}

/* Default session colour */
.ttable .session-none { 
  background-color: #2E282A;
}

/* ******************* Column names - times ******************* */
.ttable .tt_header_row td {
  background-color: transparent;
  
  /* Add short borders */
  border: 1px gray solid;
  border-width: 3px;
  border-left-style: solid;
  border-right-style: none;
  border-image: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0)) 1 50% 100%;
  
}

.ttable .tt_header_row .tt_headers_no_tick {
  border-style: none;
}

.ttable #tt_headers_end {
  border-right-style: solid;
}

.ttable .tt_header_row td div {
  text-align: center;
  position: relative;
  width: 100%;
  left: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* ****************** Row names - days ****************** */

.ttable .tt_day_row .tt-days div{
  float: right;
  margin-right: 1em;
  border-top-style: none;
}

.ttable .tt_day_row .tt-days{
  border-style: none;
}

.ttable #tt_end_row .tt-days{
  border-bottom-style: none; 
}


/* ********************************************************************* */
/* ************************* Portrait timetable *********************** */
/* ******************************************************************* */


.mobile_tt{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

#tt-mobile {
  width: 100%;
}

.mobile_row h1 {text-align: center;}

.mobile_tt tr td {
  vertical-align:top;
  padding: 0;
}

.mobile_tt tr td div {
  margin-right: 0.5em;
  position: relative;
  top: -0.75em;
  float: right;
}


/******************** Optional *********************/
.mobile_tt tr {
  height: 2em;
}

.mobile_tt .session{
  width: 80%;
}

.mobile_tt .session-none {
  background-color:  #2E282A;
}

.mobile_tt .tick_width {
  width: 0.3em;
}

.mobile_tt .tick_mark {
  border-top-style: solid;
  border-color: black;
  border-width: 3px;
}

/* ********************************************************************* */
/* ******************************** SORT ****************************** */
/* ******************************************************************* */
